{% load applicationcontent_tags feincms_tags feincms_page_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>{{ feincms_page.title }} (Cream Desktop Environment)</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="google-site-verification" content="_irOaqNqDFbzRizXhkeYWKd0wh0qUhmTodFbvyXHT0o" />
	<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />  
    <link rel="stylesheet" type="text/css" href="/static/style/reset.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/style/main.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/style/pygments.css" media="screen">
</head>

<body>
    <div id="top" class="clearfix">
        <div id="top-inner">
            <h1 id="header">Cream Desktop Environment</h1>
            
            <ul id="navigation" class="clearfix">
                {% feincms_navigation of feincms_page as toplevel level=1 %}
                {% for p in toplevel %}
                <li><a {% if p|is_equal_or_parent_of:feincms_page %}class="mark"{% endif %} href="{{ p.get_absolute_url }}">{{ p.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="site-wrapper">
    
        <div id="main">
            {% feincms_render_region feincms_page "main" request %}
        </div>
        
        <div id="sidebar">
        
            <h3>Open Source</h3>
            
            <p>
                Cream is - and always will be - an Open Source project. We would like to encourage you
                to dig into our source code and look for things to improve or add.
            </p>

            <a href="https://github.com/cream" class="ribbon">Fork Cream on GitHub!</a>

            {% feincms_navigation of feincms_page as sublevel level=2 %}
            {% if sublevel %} {# stupid django 1.0 compatibility ... :-) #}
                <div id="subpages-wrapper">
                {% for p in sublevel %}
                    {% if forloop.first %}<ul id="subpages">{% endif %}
                    <li><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></li>
                    {% if forloop.last %}</ul>{% endif %}
                {% endfor %}
                </div>
            {% else %}
            {% endif %}

            {% if feincms_page.content.sidebar %}
            <div id="additional-sidebar">
                {% feincms_render_region feincms_page "sidebar" request %}
            </div>
            {% endif %}
        </div>

    </div>

    {% feincms_frontend_editing feincms_page request %}

    <div class="clear"></div>
    <p id="footer">&copy; 2007 - 2011 by the Cream Desktop Environment</p>
</body>

</html>
